<table class = "table table-hover">
	<tr>
        <td width="70px"><a href="{{ url_for('user', nickname=idea.author.nickname) }}"><img src="{{ idea.author.avatar(70) }}" /></a></td>
        <td>
        	<div>
	           <p><strong>{{ idea.title }}</strong></p>
	           <p>{{ idea.description }}</p>
	           <p><strong>Rank: {{ idea.rank }}</strong><a href="{{ url_for('like', id=idea.id) }}">{{ _('Like') }}</a>
						{% if idea.author.id == g.user.id %}
						|  <a href="{{ url_for('editidea', id=idea.id) }}">{{ _('Edit Idea') }}</a>
						|  <a href="{{ url_for('delete', id=idea.id) }}">{{ _('Delete') }}</a>
						{% endif %}</p>
					<p><a href="{{ url_for('user', nickname=idea.author.nickname) }}">{{ idea.author.nickname }}</a> - {{ momentjs(idea.timestamp).fromNow() }}</p>
			</div>
    	</td>
    </tr>
</table>