<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<h3>Hi, {{ g.user.nickname }}!</h3>
	{% include 'flash.html' %}
	<div class ="well">
        <form class= "form-horizontal" action="" method="post" name="newidea">
        {{ form.hidden_tag() }}
        <h4>New Idea?</h4>
              <div class= "control-group{% if form.title.errors %} error{% endif %}">
                  <label class="control-label" for="title">Title:</label>
                  <div class= "controls">
                    {{ form.title(maxlength=120, class="span8") }}
                    {% for error in form.title.errors %}
                        <span class="help-inline">[{{ error }}]</span><br>
                    {% endfor %}
                  </div>
              </div>
              <div class="control-group{% if form.description.errors %} error{% endif %}">
                  <label class="control-label" for="description">Description:</label>
                  <div class="controls">
                      {{ form.description(cols=100, rows=15, class="span8") }}
                      {% for error in form.description.errors %}
                          <span class="help-inline">[{{ error }}]</span><br>
                      {% endfor %}
                  </div>
              </div>
              <div class="control-group">
                  <div class="controls">
                      <input class="btn btn-primary" type="submit" value="Save Changes">
                  </div>
              </div>
        </form>
	</div>
{% endblock %}